body
{
    margin: 0;
}

.main_background
{
    background: #4287f5;
    height: 100%;
    position: relative;
}

.main_form
{ 
    position: relative;
    margin:auto;
    top: 200px;
    padding: 60px;
    width: 30vw;
    background: whitesmoke;
    text-align: center;
    box-shadow: 1px 2px 10px black;
    border-radius: 10px;
}

input, button
{
    display:block;
    width: 100%;
    height: 4em;
    padding: 20px;
    margin-bottom:10px;
}

.login_header
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: grey;
}

